doctype html

html
    head
        title Toodles!
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body
        
        .message
            p Wow you are amazing! But can you beat my high score of 13,938?
            p I miss you already.
            p Cheers, Cam.
            
            .attribution
                | Background Music - 
                a(href="https://soundcloud.com/chrissij", target='_new') ChrissiJ
            .attribution
                | Game - 
                a(href="https://github.com/Zolmeister/avabranch", target='_new') Zolmeister
            
         
            
        canvas#canv

        
        
        audio#bgaudio(autoplay, loop)
            source(src="/avabranch/audio/background.ogg")
            source(src="/avabranch/audio/background.mp3")
            
        .who-cares-controls 
            div#controls controls
            
        script(src="/avabranch/js/util.js")
        script(src="/avabranch/js/controls.js")
        script(src="/avabranch/js/hud.js")
        script(src="/avabranch/js/powerups.js")
        script(src="/avabranch/js/line.js")
        script(src="/avabranch/js/player.js")
        script(src="/avabranch/js/blocks.js")
        script(src="/avabranch/js/game.js")
        script(src="/avabranch/js/main.js")
        
        .dynamic-module(data-name="track-page-view", data-tracking-id='#{config.googleAnalyticsApiKey()}')